<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exersice-Two</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    
    <div id="app">
            
        <div>
            <h1>The JavaScript Lottery</h1>
            <h3>Click the button to draw a number.</h3>
        </div>

        <button @click='getRandoms' class='play'>Let's Play</button>

        
        <div v-if="show" class='modal'>
            <div class="modal-text">
                <p>This site says... {{  num }}</p>
                <p v-if="num < 1001" :num >You Win! </p>
                <p v-else>Too bad! You lose.</p>
            </div>
            <button @click="close" class="close">CLOSE</button>    
        </div>
       

        <p>Your Number: {{ num }}</p>
        <p>* Any number in the 1 to 1000 range wins!</p>
        
    </div>
    <script src="./script.js"></script>
</body>
</html>